{% set allPics = allPics ?? null %}
{% set gridsWrapperHeight = '500' %}

<div class="grids-wrapper" height="{{ gridsWrapperHeight ~ 'px' }}">
    {% for block in allPics.picMatrix %}    
        {% set cat = block.category.one().slug ?? null %}
        {% set mainPic = block.mainPic.one() %}
        {% set mainPicThumbImg = block.mainPic.one() %}
        {% set mainPicPosition = block.mainPicPosition.value %}
        {% set mainPicHeight = block.mainPicHeight %}
        {% set picsGoupWidth = block.picsGoupWidth %}
        {% set mainPicThumb = {
            mode: 'thumb',
            width: picsGoupWidth,
            quality: 75,
            position: 'center'
        } %}
        {% do mainPicThumbImg.setTransform(mainPicThumb) %}
        {% set otherPicHeight = gridsWrapperHeight - mainPic.getHeight(mainPicThumb) %}
        {% set otherPicWidth = (picsGoupWidth - mainPic.getWidth(mainPicThumb) / 2)  %}        
        {% if block.picsGroup|length > 1 %}
            {% include "_partials/grids/two-rows" with { cat: cat } %}
        {% else %}
            {% include "_partials/grids/one-on-one" with { cat: cat } %}
        {% endif %}

    {% endfor %}
</div>