body {
    max-width: 100vw;
    overflow-x: hidden;
}

.packery-grid-wrapper {
    width: 100%;
    overflow-x: scroll;
}

.gallery-scroll {
    height: 300px;
    width: 100vw;
    display: block;
    overflow-x: scroll;
}

.packery-grid {
    height: auto; 
    @include media-breakpoint-up(md) {
        position: relative;
        height: 310px; 
        overflow-x: hidden; 
        overflow-y: hidden;
    } 
}

.packery-item {
    transition: opacity 0.3s ease;
    @include media-breakpoint-down(md) {
        width: 100%;
    }
    @include media-breakpoint-up(md) {
        height: 150px; 
        position: absolute !important;
    }
}

.lightbox {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.lightboxOverlay {
    overflow-x: hidden;
    background-color: rgba(255, 255, 255, 1) !important;
}

@media (max-width: 768px)  { 
    /* 🛑 Schakel de Horizontale Lay-out uit onder 576px */
    
    .scroll-wrapper {
        overflow-x: hidden !important; 
        height: auto !important;
    }
    
    .packery-grid {
        position: static !important; 
        height: auto !important;
        overflow-x: hidden !important; 
        width: 100% !important;
    }

    .packery-item {
        position: static !important; 
        float: none !important;
        
        /* Items nemen de volledige breedte in op mobiel */
        width: 100% !important; 
        height: auto !important;
        
        /* Voeg verticale ruimte toe tussen de items */
        margin-bottom: 10px !important; 
    }
    
    .packery-item img {
        width: 100% !important;
        height: auto !important;
    }
}