body {
    max-width: 100vw;
    overflow-x: hidden;
}

.packery-grid-wrapper {
    width: 100%;
    overflow-x: scroll;
    /* Voeg een wrapper toe rond de .packery-grid als deze nog geen 100% breedte heeft */
}

.gallery-scroll {
    border: 10px solid red;
    height: 300px;
    width: 100vw;
    display: block;
    overflow-x: scroll;
}

.packery-grid {
    height: 300px; 
    overflow-x: hidden; 
    overflow-y: hidden;
    position: relative; 
}

.packery-item {
    height: 145px; 
    position: absolute !important; 
    transition: opacity 0.3s ease;
}

.lightbox {
    position: absolute;
    width: 100vw;
    height: 100vh;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
}

.lightboxOverlay {
    overflow-x: hidden;
  background-color: rgba(255, 255, 255, 1) !important;
}