.packery-grid {
    height: 300px; 
    overflow-x: scroll; 
    overflow-y: hidden;
    position: relative; 
}

.packery-item {
    height: 145px; 
    position: absolute !important; 
    transition: opacity 0.3s ease;
}

.lightbox {
    position: absolute;
    width: 100vw;
    height: 100vh;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
}

.lightboxOverlay {
    overflow-x: hidden;
  background-color: rgba(255, 255, 255, 1) !important;
}