$gapsize: 1rem;
$duration: 0.5s;

.grids-wrapper {
    width: 100vw;
    display: flex;
    overflow-x: auto;
    gap: $gapsize;
    padding-bottom: $gapsize;
}

.grid-wrapper {
    flex-shrink: 0;
    overflow: hidden;
    transition:
        max-width $duration ease,
        opacity $duration ease;
    max-width: 1000px; // overschreven via JS
    opacity: 1;
    display: block;
}

.grid-wrapper.hidden {
    max-width: 0 !important;
    opacity: 0;
    pointer-events: none;
}

.grid-wrapper-inner {
    display: grid;
    gap: $gapsize;
    width: 100%;
}

.picsGroup-wrapper {
    display: flex;
    gap: $gapsize;
    width: 100%;
}