$gapsize: 1rem;

.grids-wrapper {
    width: 100vw;
    // This height is being set in the template so it can be used in other calculations
    // height: 500px;
    display: flex;
}
.grid-wrapper {
    // display: flex;
    // flex-direction: row;
    display: grid;
    gap: $gapsize;
    &:not(:last-child) {
        margin-right: $gapsize;
    }
}

.header-item {
    grid-column: 1 / -1; /* Dit item beslaat alle kolommen, van de eerste tot de laatste */
    img {
        object-fit: cover;
    }
}

.picsGroup-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: $gapsize;
}

.column-item {
    overflow: hidden;
    
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}