a {
    text-transform: lowercase;
}


.header {
    margin-block: 2rem;
}

.instagram-logo {
    height: 20px;
    width: 20px;
}

body {
    margin: 0;
    padding: 0;
    background: white;
}

.category-nav { 
    display: flex;
}

.category-nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #99aabb;
    font-weight: bold;
    font-size: 1.5rem;
}

// .container::after {
//     content: "";
//     display: block;
//     clear: both;
// }