a {
    text-transform: lowercase;
}


.header {
    margin-block: 2rem;
}

.instagram-logo {
    height: 20px;
    width: 20px;
}

body {
    margin: 0;
    padding: 0;
    background: white;
}

.category-nav { 
    display: flex;
}

.category-nav .nav-link {
    margin: 0 3rem;
    text-decoration: none;
    color: #99aabb;
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-section {
    overflow: hidden;
    white-space: nowrap; /* Zorgt ervoor dat elementen op één lijn blijven */
    max-width: 100%;
}

.scroll-container {
    display: flex; /* Zorgt ervoor dat de navigaties naast elkaar staan */
    width: max-content; /* Zorg dat het breed genoeg is om beide te bevatten */
    animation: scroll-loop 30s linear infinite; /* Pas de snelheid (30s) naar wens aan */
}

@keyframes scroll-loop {
    from { transform: translateX(0); }
    /* Verplaats de navigatie 50% van de totale breedte naar links. */
    /* De exacte waarde moet de breedte van EEN van de navigaties zijn. */
    /* Aangezien ze identiek zijn en naast elkaar staan, is -50% een goede start. */
    to { transform: translateX(-50%); } 
}