@import "node_modules/bootstrap/scss/functions.scss";
@import "node_modules/bootstrap/scss/variables.scss";
@import "node_modules/bootstrap/scss/maps.scss";
@import "node_modules/bootstrap/scss/mixins.scss";

// my custom variables
@import "variables.scss";

// boostrap variables
@import "node_modules/bootstrap/scss/bootstrap.scss";

// lightgallery
@import "lightbox.scss";

// custom
@import "fonts.scss";
@import "gallery.scss";
@import "style.scss";



// swiper
// @import "node_modules/swiper/swiper.scss";
