$fa-font-path: "../fonts";

// $primary:       #a4b4c7;
$primary:       #a4b4c7;
$secondary:     #50524e;

$font-family-sans-serif:  'Raleway', Arial, sans-serif;
$font-family-base: $font-family-sans-serif;

$nav-link-font-size:                1.5rem;
$nav-link-font-weight:              $font-weight-bolder;
$nav-link-color:                    $primary;
$nav-link-hover-color:              $secondary;

$navbar-light-color: $primary;
$navbar-light-hover-color: $secondary;
$navbar-light-active-color: $secondary;
$navbar-light-brand-color: $primary;

