<div class="grid-wrapper grid--one-on-two" style="width: {{ block.picsGoupWidth + 10 }}px">
    {% for photo in block.picsGroup %}
        {% set size = photo.getUrl({ width: ( (block.picsGoupWidth ) ) }) %}
        {# {% set sizeClass = ratio < 1 ? "portrait" : "landscape" %} #}
        {% set cat = photo.category.one().slug ?? null %}
            <a href="{{ photo.url }}" data-toggle="lightbox" data-gallery="photo-gallery" data-size="fullscreen" class="pic column-item">
                <img src="{{ size }}" alt="{{ photo.title }}">
            </a>
        {% endif %}       
    {% endfor %}
</div>