<div data-category="{{ cat }}" class="grid-wrapper grid--one-on-one {{ cat }}" style="width: {{ block.picsGoupWidth }}px">
    {% include "_partials/grids/mainpic" %}
    {% include "_partials/grids/picsGroup" %}
</div>
