<div class="picsGroup-wrapper">
    {% for photo in block.picsGroup %}
        {% set size = photo.getUrl({ height: otherPicHeight, width: otherPicWidth }) %}
            <a href="{{ photo.url }}" data-toggle="lightbox" data-gallery="photo-gallery" data-size="fullscreen" class="grid-item {{ cat }} pic column-item">
                <img src="{{ size }}" alt="{{ photo.title }}">
            </a>
    {% endfor %}
</div>