<div data-category="{{ cat }}" class="grid-wrapper grid--two-on-one {{ mainPicPosition }} {{ cat }}" style="width: {{ block.picsGoupWidth }}px">
    <div class="grid-wrapper-inner">
        {% if mainPicPosition == 'mainpic-bottom' %}
            {% include "_partials/grids/picsGroup" %}
            {% include "_partials/grids/mainpic" %}
        {% else %}
            {% include "_partials/grids/mainpic" %}
            {% include "_partials/grids/picsGroup" %}
        {% endif %}
    </div>
</div>