<!DOCTYPE html>
<html>
<head>
    <title>The Annie Club</title>
    <style>
        body {
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            
        }

        img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>

    <img src="/assets/img/logo.png" width="175" height="175" alt="{{ siteName }}">

</body>
</html>