{% extends "_layout.twig" %}
{% set picsPage = craft.entries().section('photogallery').one() %}
{% set allPics = picsPage.photogallery.all() %}


{% block content %}
	{% include "_partials/_header.twig" %}

	<main class="section py-4">
        {% include "_partials/_gallery" with {allPics : allPics} %}
	</main>
	
{% endblock %}
