{% extends "_layout.twig" %}
{% set allPics = craft.entries().section('photogallery').one() %}
{% set matrixBlocks = allPics.picMatrix.all() %}
    
{% set uniqueCategories = matrixBlocks
    | map(block => block.category.all())
    | flatten  
    | unique
%}
{# {% set linkedPhotoCats = craft.entries()
    .section('categories')           
    .all()
%} #}

{# {% set linkedPhotoCats = craft.entries()
    .section('home')           
    .relatedTo({                
        targetElement: craft.entries().section('homepage'),
        field: 'photogallery'
    })
    .orderBy('lft ASC')
    .all()
%} #}

{% block content %}
	{% include "_partials/_header.twig" %}

	<main class="section py-4">
        <!-- Trigger button for filter offcanvas -->
        <button class="btn btn-outline-secondary d-inline-block d-lg-none mb-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasFilters" aria-controls="offcanvasFilters">
            Filters
        </button>
        {% include "_partials/_photos-grid.twig" with {allPics : allPics } %}
	</main>



<!-- Offcanvas for filters -->
<div class="offcanvas offcanvas-start offcanvas-md" tabindex="-1" id="offcanvasFilters" aria-labelledby="offcanvasFiltersLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasFiltersLabel">Filter categorieën</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <nav class="category-nav filters-button-group">
            <a href="#" class="nav-link is-checked" data-filter="*">All</a>
            {% if uniqueCategories is not empty %}
                {% for category in uniqueCategories %}
                    <a href="#" class="nav-link" data-filter="{{ '.' ~ category.slug }}">{{ category.title }}</a>
                {% endfor %}
            {% endif %}
        </nav>
    </div>
</div>

	{% include "_partials/_footer.twig" %}
{% endblock %}
