{% extends "_layout.twig" %}
{% set pics = craft.entries().section('photogallery').one() %}
{% set allPicsOld = craft.entries().section('photogallery').one() %}
{% set matrixBlocks = allPicsOld.picMatrix.all() %}
    
{% set uniqueCategories = matrixBlocks
    | map(block => block.category.all())
    | flatten  
    | unique
%}
{# {% set linkedPhotoCats = craft.entries()
    .section('categories')           
    .all()
%} #}

{# {% set linkedPhotoCats = craft.entries()
    .section('home')           
    .relatedTo({                
        targetElement: craft.entries().section('homepage'),
        field: 'photogallery'
    })
    .orderBy('lft ASC')
    .all()
%} #}

{% block content %}
	{% include "_partials/_header.twig" %}

	<main class="section py-4">
        {% include "_partials/_gallery" with {allPics : pics.photogallery.all() } %}
	</main>

    <div class="section">
        <nav class="category-nav filters-button-group">
            <a href="#" class="nav-link is-checked" data-filter="*">All</a>
            {% if uniqueCategories is not empty %}
                {% for category in uniqueCategories %}
                    <a href="#" class="nav-link is-checked" data-filter="{{ '.' ~ category.slug }}">{{ category.title }}</button>
                {% endfor %}
            {% endif %}
        </nav>
    </div>
	{% include "_partials/_footer.twig" %}
{% endblock %}
