{% extends "_layout.twig" %}
{% set galery = craft.entries().section('photogallery').one() %}
{% set photos = galery.photogallery %}
{% set linkedPhotoCats = craft.entries()
    .section('categories')           
    .all()
%}

{# {% set linkedPhotoCats = craft.entries()
    .section('home')           
    .relatedTo({                
        targetElement: craft.entries().section('homepage'),
        field: 'photogallery'
    })
    .orderBy('lft ASC')
    .all()
%} #}

{% block content %}
	{% include "_partials/_header.twig" %}

	<main class="section">
    <div class="container pt-4 pb-2">
        <h1>{{ entry.title }}
    </div>
		{# {% include "_partials/_masonry-grid.twig" %} #}
    <div class="container py-4">
        <div>{{ entry.tekst }}</div>
    </div>
	</main>


	{# {% include "_partials/_footer.twig" %} #}
{% endblock %}
