{% extends "_layout.twig" %}

{% set linkedPhotoCats = craft.entries()
    .section('categories')           
    .all()
%}

{# {% set linkedPhotoCats = craft.entries()
    .section('home')           
    .relatedTo({                
        targetElement: craft.entries().section('homepage'),
        field: 'photogallery'
    })
    .orderBy('lft ASC')
    .all()
%} #}

{% block content %}
	{% include "_partials/_header.twig" %}

	<main class="section py-4">
        {% include "_partials/_photos-grid.twig" %}
	</main>

    <div class="section nav-section">
        <nav class="category-nav">
            <a href="#" data-filter="all">All</a>
            {% if linkedPhotoCats is not empty %}
                {% for category in linkedPhotoCats %}
                    <a class="nav-link" href="#" data-filter="{{ category.slug }}">{{ category.title }}</a>
                {% endfor %}
            {% endif %}
        </nav>

        <nav class="category-nav filters-button-group pt-4 duplicate-nav" aria-hidden="true">
        <a href="#" class="nav-link is-checked" data-filter="*">All</a>
            {% if usedCategories is not empty %}
                {% for category in usedCategories %}
                    <a href="#" class="nav-link is-checked" data-filter="{{ '.' ~ category.slug }}">{{ category.title }}</a>
                {% endfor %}
            {% endif %}
        </nav>
    </div>

    
	{# {% include "_partials/_footer.twig" %} #}
{% endblock %}
